body {
  font-family: Arial, sans-serif;
  background-color: #ff00b3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #00ff0d;
  border-radius: 100px;
  border-color: rgb(25, 0, 255);
  border-style: dashed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  width: 650px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
}

h1 {
  display: block;
  margin-bottom: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 800;
  font-size: 70px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 800;
  font-size: 35px;
}

button {
  padding: 10px 20px;
  background-color: #ff000d;
  color: #ffffff;
  font-weight: bolder;
  font-style: italic;
  font-size: larger;
  border-style: double;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #633434;
}

p {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}
